@inherits TileCalculatorBase



@code {
    string tc_Container;
}

<Styled @bind-Classname="@tc_Container">
    margin-top: 8px;
    display:grid;
    grid-template-columns:75% 25%;
</Styled>


<Styled Classname="@tc_Container" MediaQuery="MediaQueries.LargerThanMobile">
    grid-template-columns:60% 40%;
    grid-gap:20px;
</Styled>

<div class="@tc_Container">
    <div>

        <div style="display:grid;grid-gap:24px;">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="@TileTypeName" checked="@CheckedByDefault" @onchange="eventArgs => { Toggle(eventArgs.Value); }" />
                <label class="custom-control-label" for="@TileTypeName">Enable @TileTypeName tiles.</label>
            </div>


            <div style="background-color:white">
                <label for="@TileTypeName">@TileTypeName Choice</label>
                <select disabled="@IsDisabled" class="form-control" @bind="@SelectedKey">

                    @if (TileData != null)
                    {
                        @foreach (var tile in TileData)
                        {
                            if (DefaultTileData.Hash == tile.Hash && DefaultTileData.Var == tile.Var)
                            {
                                <option value="@tile.Key" selected>@tile.Name @tile.DisplayVar - Default</option>
                            }
                            else
                            {
                                <option value="@tile.Key">@tile.Name @tile.DisplayVar</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>


        <div>
            @if (!IsDisabled)
            {
                @ChildContent
            }
        </div>
    </div>

    @if (TileData != null && SelectedTile != null)
    {
<div style="display:flex">
    <div style="flex:1" />

    @code {
        string tc_Image;
    }

    <Styled @bind-Classname="@tc_Image">
        flex:1;
        border-style:solid;
        border-color:gray;
        border-width:thick;
        width: 55px;
        height: 55px;
    </Styled>

    <Styled Classname="@tc_Image" MediaQuery="MediaQueries.LargerThanMobile">
        width: 255px;
        height: 255px;
    </Styled>

    <img class="@tc_Image" src="@SelectedImage" />
    <div style="flex:1" />
</div>
    }

</div>
