@using Microsoft.AspNetCore.Components

@code
        {
    [Inject] IJSRuntime JS { get; set; }

    bool navSubMenuOpenState;

    async Task ClickMe()
    {
        Console.WriteLine("test");
        await JS.InvokeAsync<object>("alert", "Successful OnClick!");
    }
}

@code
{
    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
    }
}

<MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up">
    <ChildContent>
        <MatDrawerContainer Style="width: 100vw; height: 100vh;">
            <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                <MatNavMenu>
                    <MatNavSubMenuList>
                        @if (Navbar == null)
                        {
                            <div>Loading</div>
                        }
                        else
                        {

                            @foreach (var section in Navbar.Sections)
                            {
                                if (!section.Tags.Contains("hidden"))
                                {
                                    <MatNavItem AllowSelection="true" Href="@section.UniqueId"><span class="oi @section.DataIcon" aria-hidden="true"></span> &nbsp; @section.DisplayName</MatNavItem>
                                }
                            }
                        }
                    </MatNavSubMenuList>
                </MatNavMenu>
            </MatDrawer>

            <MatDrawerContent>
                @ChildContent
            </MatDrawerContent>
        </MatDrawerContainer>
    </ChildContent>

    <ElseContent>

        <MatDrawerContainer Style="width: 100%; height: 100vh;">

            <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Dismissible">
                <MatNavMenu>
                    <MatNavSubMenuList>
                        @if (Navbar == null)
                        {
                            <div>Loading</div>
                        }
                        else
                        {

                            @foreach (var section in Navbar.Sections)
                            {
                                if (!section.Tags.Contains("hidden"))
                                {
                                    <MatNavItem AllowSelection="true" Href="@section.UniqueId"><span class="oi @section.DataIcon" aria-hidden="true"></span> &nbsp; @section.DisplayName</MatNavItem>
                                }
                            }
                        }
                    </MatNavSubMenuList>
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent>
                @ChildContent
            </MatDrawerContent>

        </MatDrawerContainer>

    </ElseContent>
</MatHidden>
